build
.project
.DS_Store
.settings/
libs
ti.applepay.xcodeproj/project.xcworkspace/xcuserdata/hans.xcuserdatad/UserInterfaceState.xcuserstate
ti.applepay.xcodeproj/xcuserdata/hknoechel.xcuserdatad
ti.applepay.xcodeproj/project.xcworkspace/xcuserdata/hknoechel.xcuserdatad
ti.applepay-iphone-*.zip
