build
iphone/build
.project
.DS_Store
.classpath
.settings/
bin/**
libs
dist
/iphone/ti.applepay.xcodeproj/project.xcworkspace/xcuserdata/hans.xcuserdatad/UserInterfaceState.xcuserstate
/iphone/ti.applepay.xcodeproj/xcuserdata/hknoechel.xcuserdatad
/iphone/ti.applepay.xcodeproj/project.xcworkspace/xcuserdata/hknoechel.xcuserdatad
/iphone/ti.applepay-iphone-*.zip
